#signDiv{
	background-color: white;
}

#gameDiv-wave,#gameDiv-timer,#gameDiv-question{
	background-color: gray;
	color: white;
}

#gameDiv-answer-response {
	background-color: transparent;
}

#displayDiv #game #chat-text div{
	text-align: left;
	background-color: gray;
	color: white;
} 

#displayDiv {
     text-align: center;
	 margin-left: 500px;
}

#signDiv{
	text-align: center;
}

audio{
	margin-top: 500px;
}

p, label{
	font-weight: bold;
	background-color: gray;
	color: white;
}